@use "../abstracts/variables" as u;

body{
    font-family: 'Open Sans', sans-serif;
}


.heading-secondary{
    font-size: 1.6rem;
    letter-spacing: 1.5;
    color: u.$color-white;
}

.contact-name{
    font-size: 1.4rem;
}

.chat-lines {
    font-size:1.3rem;
    color: u.$color-grey-light;
   &-unread{
    color: u.$color-white;
   }
   
}

.chat-times {
    font-size: 1.1rem;
    color: u.$color-grey-light;
}

.number{
    font-size: 1.3rem;
    color: u.$color-black;
    padding: 0.2rem 0.7rem;
    border-radius: 100%;
    background-color: u.$color-primary;
}

.chat-box{
    font-size: 1.3rem;
    color: u.$color-grey-light;
}

.chat-bubble-flex{
    font-size: 1.1rem;
    color: u.$color-grey-light-2;
}

.time{
    font-size: 1.1rem;
    color: u.$color-grey-light-2;

}