@use "../abstracts/variables" as u;


.contacts{
    display: inline-block;
 
    background-position: left;
   
    .user-profile{
        background-color: u.$color-primary-light;
        display: flex;
        &-image{
            padding: 1rem;
            &-fatimah{
                border-radius: 100%;
                width: 15%;
                background-color: black;
       
        
            }
        }
        &-icon{
            display: flex;
            align-items:center;
            justify-content: center;
            padding: 1rem;
        }
    }

    .list-of-chats{
        display: inline-block;
        height: 56rem;
        overflow-y: scroll;
        &-grid{
            display: grid;
            grid-template-columns: 1fr 5fr;
            background-color: u.$color-primary-dark;
            &:nth-child(2){
                background-color: u.$color-primary-light;
            }
          
            
            &:hover{
                background-color: rgba(u.$color-primary-light,0.6);
                transition: all 0.2s ease-in-out;
            }

           
          
            &-text{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom:0.4px solid rgba(u.$color-primary-light,0.6);
                
            }
        }
        &-flex-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }
}


