@use "../abstracts/variables" as u;

.icon{
    color: u.$color-grey-light;
    font-size: 2rem;
    padding: 1rem;
    justify-content: center;
    cursor: pointer;
     
}

.chat-read-icon{
    font-size: 2rem;
    padding-right: 0.2rem;
    color: u.$color-blue;

}

.chat-sent-icon{
    font-size: 1.8rem;
    padding-right: 0.4rem;
    color: u.$color-grey-light;

}

.chat-camera-icon, .chat-video-icon{
    font-size: 1.8rem;
    padding-right: 0.4rem;
    color: u.$color-grey-light;

}

.icon-sticker, .icon-attachment, .icon-record{
    color: u.$color-grey-light;
    font-size: 2.8rem;
    padding: 1rem;
    justify-content: center;

}