@use "../abstracts/variables" as u;

.icon{
    color: u.$color-grey-light;
    font-size: 2rem;
    padding: 1rem;
    justify-content: center;
    
    

}

.chat-read-icon{
    font-size: 2rem;
    padding-right: 0.2rem;
    color: u.$color-blue;

}

.chat-sent-icon{
    font-size: 2rem;
    padding-right: 0.2rem;
    color: u.$color-grey-light;

}