@use "../abstracts/variables" as u;


.search-bar{
    padding: 1rem;
    background-color: u.$color-primary-dark;
    &-sub{
        width: 43rem;
        border-radius: 1rem;
        background-color: u.$color-primary-light;
        outline: none;
        border: none;
        color: u.$color-grey-light;
        
    }
}