@use "../abstracts/variables" as u;


.text-input-bar{
    width: 100%;
    height: 90%;
    padding: 1rem;

    &-sub{
        
        border-radius: 1rem;
        background-color: u.$color-primary-light-2;
        outline: none;
        border: none;
        color: u.$color-grey-light;

        
                
        
    }
}

