
$color-black: rgb(21, 21, 21);

$color-white: #eee;
$color-grey-light:rgb(195, 195, 195);
$color-grey-dark:rgb(144, 144, 144);

//$color-primary:;
//$color-primary-dark: ;
//$color-primary-light:;

$color-primary:rgb(11, 147, 106);
$color-primary-dark: rgb(12, 39, 42);
$color-primary-light: rgb(26, 68, 95);
$color-primary-light-2: rgb(37, 90, 122);

$color-blue: rgb(90, 142, 226) ;