
$color-black: rgb(21, 21, 21);

$color-white: #eee;
$color-grey-light:rgb(211, 211, 211);
$color-grey-light-2:rgb(185, 180, 180);

$color-grey-dark:rgb(144, 144, 144);
$color-grey-dark-2:rgb(87, 87, 87);

//$color-primary:;
//$color-primary-dark: ;
//$color-primary-light:;

$color-primary:rgb(11, 147, 106);
$color-primary-dark: rgb(12, 39, 42);
$color-primary-dark-2:rgb(7, 113, 85);
$color-primary-light: rgb(26, 68, 95);
$color-primary-light-2: rgb(37, 90, 122);

$color-blue: rgb(90, 142, 226) ;